Source: octave-openems-hll
Section: electronics
Priority: optional
Maintainer: Thomas Lepoix <thomas.lepoix@protonmail.ch>
Uploaders: Thomas Lepoix <thomas.lepoix@protonmail.ch>
Build-Depends: dh-octave
Homepage: https://github.com/Open-RFlab/octave-openems-hll
Vcs-Git: https://github.com/Open-RFlab/octave-openems-hll
Vcs-Browser: https://github.com/Open-RFlab/octave-openems-hll
Testsuite: autopkgtest-pkg-octave

Package: octave-openems-hll
Architecture: any
Depends: octave-openems,
         imagemagick
Enhances: octave-openems
Suggests: paraview
Description: openEMS High-level layer
 The Open-RFlab openems-hll package provides functions for
 easing the use of the openEMS FDTD simulator.
